<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
    {% block title %}
    {% endblock %}
    </title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">


    {% load staticfiles %}
    <link href="{% static "ajax_select/css/ajax_select.css" %}" type="text/css" media="all" rel="stylesheet" />
    <script type="text/javascript" src="{% static "ajax_select/js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "ajax_select/js/ajax_select.js" %}"></script>
    <script src="{% static 'js/dist/js/core.js' %}"></script>
    <script src="{% static 'js/dist/js/dropdown.js' %}"></script>
    <link rel="stylesheet" href="{% static "css/site.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "js/dist/css/core.css" %}">
    <link rel="stylesheet" href="{% static "js/dist/css/dropdown.css" %}">
    {% block css %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>

<body>
    <div class="list-bg">
        <div class="bg">
        </div>
    </div>
    <div class="list-bg black">
        <div class="bg">
        </div>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PYMusic</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Player <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Playlist <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/playlist">My PlayLists</a></li>
                            <li><a href="/manage-songs">Manage Songs</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#addPlaylist">Add Playlist</a></li>
                        </ul>
                    </li>
                    <li><a href="/friend-stream">Friend Stream</a></li>
                    <li><a href="#">Add Post</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left" role="search" method="get" action="/search">
                        <div class="form-search search-only">
                            <!-- <ul class="nav navbar-nav"> -->
                            <select id="search_select" name="selecter_basic" class="selecter_3 select-search" data-selecter-options='{"cover":"true"}'>
                                <option value="1">User</option>
                                <option value="2">Song</option>
                            </select>
                            <!-- </ul> -->
                            <!-- <input type="text" class="form-control search-query"> -->
                            {{ search_user_form.search_user }}
                            {{ search_song_form.search_song }}
                            <i class="search-icon glyphicon glyphicon-search"></i>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </form>
                    <li><a href="/messages"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Link <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile">My Profile</a></li>
                            <li><a href="/edit-profile">Edit Profile</a></li>
                            <li><a href="#">My Post</a></li>
                            <li><a href="#">My Friends</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/accounts/logout">Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        {% block postman_menu %}{% endblock %}
        {% block content %}{% endblock %}
    </div>

<!-- Modal -->
<div class="modal fade" id="addPlaylist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Playlist</h4>
            </div>
            <div class="modal-body">
              <form method="post" action="{% url 'musicsharing.views.create_list' %}" id="add-playlist" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Name of Playlist</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                    </div>
                </div>
               <div class="row">
    <div class="col-xs-6">
        <div class="form-group upload-btn">
            <div class="upload-modal-box">
                <a class="file-input-wrapper custom-file-input file-input-wrapper btn btn-success" data-original-title="" title=""><span><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Upload Picture</span><input id="fileToUploadOne" type="file" title="Upload song" size="45" name="picture" class="custom-file-input file-input-wrapper btn btn-default btn-warning"></a>
            </div>
        </div>
    </div>
</div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Brief Introduction</label>
                            <textarea name="intro" class="form-control" rows="3" maxlength="100"></textarea>
                        </div>
                    </div>
                </div>
                {% csrf_token %}
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" form="add-playlist" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</div> 
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static "js/site.min.js" %}"></script>
    <!-- Bootflat's JS files.-->
    <script src="{% static "js/icheck.min.js" %}"></script>
    <script src="{% static "js/jquery.fs.selecter.min.js" %}"></script>
    <script src="{% static "js/jquery.fs.stepper.min.js" %}"></script>
    <script src="{% static "js/search.js" %}"></script>
    
    {% block js %}{% endblock %}

</body>
</h