{% extends 'base.html' %}

{% block content %}
<div id="profile" class="form-edit-profile">
	<form method="post" action="{% url 'musicsharing.views.edit_profile'%}">
	<h1>Edit Profile</h1>
    <div class="form-group upload-btn">
        <div class="upload-modal-box">
            <a class="file-input-wrapper custom-file-input file-input-wrapper btn btn-primary" data-original-title="" title=""><span><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Upload Icon</span><input id="fileToUploadOne" type="file" title="Upload song" size="45" name="music" class="custom-file-input file-input-wrapper btn btn-default btn-warning"></a>
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Name</span>
        <input type="text" class="form-control">
    </div>
    <div class="input-group">
        <span class="input-group-addon">Age</span>
        {{ form.age }}
    </div>
    <div class="input-group">
        <span class="input-group-addon">Bio</span>
        {{ form.bio }}
    </div>
    <div class="input-group">
        <span class="input-group-addon">Gender</span>
        <div class="styled-select blue semi-square">
            {{ form.gender }}
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Country</span>
        <div class="styled-select blue semi-square">
            {{ form.country }}
        </div>
    </div>
    <button type="submit" id="submit-edit-list" class="btn btn-lg btn-primary btn-block">Submit</button>
    {% csrf_token %}
</form>
</div>
{% if messages %}
<ul class="messages">
    {% for msg in messages %}       
    <li>
        <div class="alert alert-{{msg.level_tag}}" role="alert">
 	{{msg.message}}
	</div>
    </li>
    {% endfor %}
</ul>
{% endif %}

</div>
{% endblock %}