{% extends 'base.html' %}

{% block content %}
<div class="panel panel-primary panel-profile">
        <div class="panel-heading">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
            
            <h4 class="panel-title" id="contactLabel"><span class="glyphicon glyphicon-info-sign"></span> Edit Profile</h4>
        </div>
<div id="profile" class="form-edit-profile">
	<form method="post" action="{% url 'musicsharing.views.edit_profile'%}" enctype="multipart/form-data">
    <div class="form-group upload-btn">
        <div class="upload-modal-box">
            <a class="file-input-wrapper custom-file-input file-input-wrapper btn btn-primary" data-original-title="" title=""><span><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Upload Photo</span>{{form.picture}}</a>
        </div>
        {% for err in form.picture.errors %}
        <div class="alert alert-warning alert-dismissable">{{ err }}</div>
        {% endfor %}
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i> Nickname</span>
        {{ form.nickname }} 
    </div>
        {% for err in form.nickname.errors %}
        <div class="alert alert-warning alert-dismissable">{{ err }}</div>
        {% endfor %}
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-birthday-cake" aria-hidden="true"></i> Age</span>
        {{ form.age }} 
    </div>
    {% for err in form.age.errors %}
        <div class="alert alert-warning alert-dismissable">{{ err }}</div>
        {% endfor %}
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-info-circle" aria-hidden="true"></i> Bio</span>
        {{ form.bio }} 
        
    </div>
    {% for err in form.bio.errors %}
        <div class="alert alert-warning alert-dismissable">{{ err }}</div>
        {% endfor %}
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-venus" aria-hidden="true"></i> Gender</span>
        <div class="styled-select blue semi-square">
            {{ form.gender }}
        </div>
        {% for err in form.gender.errors %}
        <div class="alert alert-warning alert-dismissable">{{ err }}</div>
        {% endfor %}
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-globe" aria-hidden="true"></i> Country</span>
        <div class="styled-select blue semi-square">
            {{ form.country }}
            
        </div>   
        {% for err in form.country.errors %}
        <div class="alert alert-warning alert-dismissable">{{ err }}</div>
        {% endfor %}
    </div>
    <button type="submit" id="submit-edit-list" class="btn btn-lg btn-primary btn-block">Submit</button>
    {% csrf_token %}
</form>
</div>
</div>

</div>
{% endblock %}