<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
    {% block title %}
    {% endblock %}
    </title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">


    {% load staticfiles %}
    <link href="{% static "ajax_select/css/ajax_select.css" %}" type="text/css" media="all" rel="stylesheet" />
    <script type="text/javascript" src="{% static "ajax_select/js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "ajax_select/js/ajax_select.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/site.min.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    
    {% block css %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>

<body marginwidth="0" marginheight="0">
    <div id="block_error">
        <div>
         <h2>Error 404. &nbspOops you've have encountered an error</h2>
        <p>
        It appears that Either something went wrong or the page doesn't exist anymore..<br />
        Please check back shortly.
        </p>
        <a href="{% url 'musicsharing.views.home' %}" class="btn btn-lg btn-block btn-primary"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Home</a>
        </div>
    </div>
</body>
</html>