{% extends "base.html" %} 
{% block bg %}
    <div class="list-bg">
        <div class="bg">
        </div>
    </div>
    <div class="list-bg black">
        <div class="bg">
        </div>
    </div>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-1">
    </div>
    <div class="[ col-xs-12 col-sm-5 ]">
{% for post in posts %}
{% if forloop.counter0|divisibleby:"2" %}
        <div class="[ panel panel-default ] panel-google-plus">
            <div class="panel-heading">
                <img class="pull-left img-circle  img-46" src="{% url 'musicsharing.views.get_profile_picture' post.user.profile.all.0.id %}">
                <h3><a href="{% url 'musicsharing.views.profile' post.user.username %}">{{post.user.username}}</a></h3>
                <h5><span>{{ post.date | date:"Y-m-d H:i:s"}}</span> </h5>
            </div>
            <div class="panel-body">
                <p>{{post.content}}</p>
                <div class="post-song">
                    <div class="row">
                        <img class="img-square pull-left" src="{% url 'musicsharing.views.get_picture' post.music.name %}" alt="...">
                        <p class="post-song-title">{{post.music.name}}</p>
                        <p class="post-song-content">
                            {{post.music.artist}} / {{post.music.album}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="[ btn btn-default ]">+1</button>
                <div class="input-placeholder">Add a comment...</div>
            </div>
            <div class="comments">
                {% for comment in comments %} {% if comment.post.id == post.id %}
                <div id="" tabindex="-1" class="Ik Wv" jsmodel="mrYqlc">
                    <div class="Wi lg ">
                        <a href="" class="ob Jk" oid="117543036089291964062" aria-hidden="true"><img class="go wi Wh img-28" src="{% url 'musicsharing.views.get_profile_picture' comment.user.profile.all.0.id %}" alt="..."></a>
                        <div class="Jx">
                            <div class="eR">
                                <div class="fR"><a href="{% url 'musicsharing.views.profile' comment.user.username %}">{{comment.user.username}}</a></a>
                                    <!-- <div class="Nba Cw"></div> -->
                                    <div class="wO"><span class="Rg">{{ comment.date | date:"Y-m-d H:i:s"}}</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="Aq DK Bt UR gA">
                                <div class="Ct">{{comment.content}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
                <div class="panel-google-plus-comment">
                    <img class="img-circle img-28" src="{% url 'musicsharing.views.get_profile_picture' post.user.profile.all.0.id %}">
                    <div class="panel-google-plus-textarea">
                        <form method="post" action="{% url 'musicsharing.views.comment' %}" id="comment-form-{{post.id}}">
                        <textarea class="form-control" cols="40" id="id_comment_content" maxlength="160" name="content" rows="3"></textarea>
                        {% csrf_token %}
                        <input type="hidden" name="post_id" id="comment-modal-id" value="{{post.id}}"></input>
                        <input type="hidden" name="user_name" id="comment-modal-id" value="{{ user.username }}"></input>
                        <input type="hidden" name="profile_id" value="{{ user.profile.all.0.id }}"></input>
                        </form>
                        <button type="submit" form="comment-form-{{post.id}}" class="[ btn btn-comment btn-success disabled ]">Post comment</button>
                        <button type="reset" class="[ btn btn-default ]">Cancel</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
        </div>
        <div class="[ col-xs-12 col-sm-5 ]">
        {% for post in posts %}
        {% if not forloop.counter0|divisibleby:"2" %}
        <div class="[ panel panel-default ] panel-google-plus">
            <div class="panel-heading">
                <img class="pull-left img-circle  img-46" src="{% url 'musicsharing.views.get_profile_picture' post.user.profile.all.0.id %}">
                <h3><a href="{% url 'musicsharing.views.profile' post.user.username %}">{{post.user.username}}</a></h3>
                <h5><span>{{ post.date | date:"Y-m-d H:i:s"}}</span> </h5>
            </div>
            <div class="panel-body">
                <p>{{post.content}}</p>
                <div class="post-song">
                    <div class="row">
                        <img class="img-square pull-left" src="{% url 'musicsharing.views.get_picture' post.music.name %}" alt="...">
                        <p class="post-song-title">{{post.music.name}}</p>
                        <p class="post-song-content">
                            {{post.music.artist}} / {{post.music.album}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="[ btn btn-default ]">+1</button>
                <div class="input-placeholder">Add a comment...</div>
            </div>
            <div class="comments">
                {% for comment in comments %} {% if comment.post.id == post.id %}
                <div id="" tabindex="-1" class="Ik Wv" jsmodel="mrYqlc">
                    <div class="Wi lg ">
                        <a href="" class="ob Jk" oid="117543036089291964062" aria-hidden="true"><img class="go wi Wh img-28" src="{% url 'musicsharing.views.get_profile_picture' comment.user.profile.all.0.id %}" alt="..."></a>
                        <div class="Jx">
                            <div class="eR">
                                <div class="fR"><a href="{% url 'musicsharing.views.profile' comment.user.username %}">{{comment.user.username}}</a></a>
                                    <!-- <div class="Nba Cw"></div> -->
                                    <div class="wO"><span class="Rg">{{ comment.date | date:"Y-m-d H:i:s"}}</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="Aq DK Bt UR gA">
                                <div class="Ct">{{comment.content}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
                <div class="panel-google-plus-comment">
                    <img class="img-circle img-28" src="{% url 'musicsharing.views.get_profile_picture' post.user.profile.all.0.id %}">
                    <div class="panel-google-plus-textarea">
                        <form method="post" action="{% url 'musicsharing.views.comment' %}" id="comment-form-{{post.id}}">
                        <textarea class="form-control" cols="40" id="id_comment_content" maxlength="160" name="content" rows="3"></textarea>
                        {% csrf_token %}
                        <input type="hidden" name="post_id" id="comment-modal-id" value="{{post.id}}"></input>
                        <input type="hidden" name="user_name" id="comment-modal-id" value="{{ user.username }}"></input>
                        <input type="hidden" name="profile_id" value="{{ user.profile.all.0.id }}"></input>
                        </form>
                        <button type="submit" form="comment-form-{{post.id}}" class="[ btn btn-comment btn-success disabled ]">Post comment</button>
                        <button type="reset" class="[ btn btn-default ]">Cancel</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
 
    {% endif %}
{% endfor %}
   </div>
</div>
{% endblock %}
{% block js %}
{% load staticfiles %}
<script src="{% static "js/comment.js" %}"></script>
{% endblock %}