{% extends "base.html" %} 
{% block css %} 
 {% load staticfiles %}
<link rel="stylesheet" href="{% static "css/APlayer.min.css" %}">
<link rel="stylesheet" href="{% static "css/playerstyle.css" %}">
{% endblock %}
{% block content %}
<div id="player4" class="aplayer"></div>
{% endblock %}
{% block js %}
<!-- {% load staticfiles %} -->
<script src="{% static "js/APlayer.min.js" %}"></script>
    <script>
    var ap4 = new APlayer({
        element: document.getElementById('player4'),
        narrow: false,
        autoplay: false,
        showlrc: false,
        theme: '#ad7a86',
        music: [{
            title: '剑魄琴心',
            author: '骆集益',
            url: 'http://127.0.0.1:8000/music/jianpoqinxin',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/あっちゅ～ま青春!.jpg'
        }, {
            title: '七里香',
            author: '周杰伦',
            url: 'http://127.0.0.1:8000/music/qilixiang',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/secret base~.jpg'
        }, {
            title: '东风破',
            author: '周杰伦',
            url: 'http://127.0.0.1:8000/music/dongfengpo',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/回レ！雪月花.jpg'
        }, {
            title: '夜曲',
            author: '周杰伦',
            url: 'http://127.0.0.1:8000/music/yequ',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/あっちゅ～ま青春!.jpg'
        }, {
            title: 'Uptown Funk',
            author: 'Mark Ronson',
            url: 'http://127.0.0.1:8000/music/Uptown Funk',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/secret base~.jpg'
        }, {
            title: 'Cakes by the ocean',
            author: 'DDDD',
            url: 'http://7xq131.com1.z0.glb.clouddn.com/回レ！雪月花.mp3',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/回レ！雪月花.jpg'
        }, {
            title: 'Cry me a river',
            author: 'Justin Timberlake',
            url: 'http://7xq131.com1.z0.glb.clouddn.com/secret base~.mp3',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/あっちゅ～ま青春!.jpg'
        }, {
            title: 'lie',
            author: 'Bigbang',
            url: 'http://7xq131.com1.z0.glb.clouddn.com/secret base~.mp3',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/secret base~.jpg'
        }, {
            title: 'Cakes by the ocean',
            author: 'DDDD',
            url: 'http://7xq131.com1.z0.glb.clouddn.com/回レ！雪月花.mp3',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/回レ！雪月花.jpg'
        }, {
            title: 'Cry me a river',
            author: 'Justin Timberlake',
            url: 'http://7xq131.com1.z0.glb.clouddn.com/secret base~.mp3',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/あっちゅ～ま青春!.jpg'
        }, {
            title: 'lie',
            author: 'Bigbang',
            url: 'http://7xq131.com1.z0.glb.clouddn.com/secret base~.mp3',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/secret base~.jpg'
        }, {
            title: 'Cakes by the ocean',
            author: 'DDDD',
            url: 'http://7xq131.com1.z0.glb.clouddn.com/回レ！雪月花.mp3',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/回レ！雪月花.jpg'
        }]
    });
    ap4.init();
    </script>
{% endblock %}