{% extends "base.html" %} 
{% block css %} 
 {% load staticfiles %}
<link rel="stylesheet" href="{% static "css/APlayer.min.css" %}">
<link rel="stylesheet" href="{% static "css/playerstyle.css" %}">
{% endblock %}
{% block content %}
<div class="upload-box">
    <!-- <a href="#"><span class="glyphicon glyphicon-file lyrics" aria-hidden="true"></span></a> -->
<button type="button" id="modal-button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Upload Music
</button>
</div>
<div id="player4" class="aplayer"></div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload Music</h4>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'musicsharing.views.upload' %}" id="upload_music" enctype="multipart/form-data">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Name of Song:</label>
            <input type="text" class="form-control" id="recipient-name" name="name">
          </div>
          <div class="form-group">
            <div class="upload-modal-box">
            <a class="file-input-wrapper custom-file-input file-input-wrapper btn btn-success" data-original-title="" title=""><span><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Upload Picture</span><input id="fileToUploadOne" type="file" title="Upload song" size="45" name="picture" class="custom-file-input file-input-wrapper btn btn-default btn-warning"></a>
        </div>
        </div>
        <div class="form-group">
            <div class="upload-modal-box">
            <a class="file-input-wrapper custom-file-input file-input-wrapper btn btn-primary" data-original-title="" title=""><span><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Upload Music</span><input id="fileToUploadOne" type="file" title="Upload song" size="45" name="music" class="custom-file-input file-input-wrapper btn btn-default btn-warning"></a>
            {% csrf_token %}
        </div>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" form="upload_music">Submit</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<!-- {% load staticfiles %} -->
<script src="{% static "js/APlayer.min.js" %}"></script>
    <script>
    var ap4 = new APlayer({
        element: document.getElementById('player4'),
        narrow: false,
        autoplay: false,
        showlrc: false,
        theme: '#ad7a86',
        music: [{
            title: '剑魄琴心',
            author: '骆集益',
            url: 'http://127.0.0.1:8000/music/剑魄琴心',
            pic: 'http://127.0.0.1:8000/picture/剑魄琴心'
        }, {
            title: '七里香',
            author: '周杰伦',
            url: 'http://127.0.0.1:8000/music/qilixiang',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/secret base~.jpg'
        }, {
            title: '东风破',
            author: '周杰伦',
            url: 'http://127.0.0.1:8000/music/dongfengpo',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/回レ！雪月花.jpg'
        }, {
            title: '夜曲',
            author: '周杰伦',
            url: 'http://127.0.0.1:8000/music/yequ',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/あっちゅ～ま青春!.jpg'
        }, {
            title: 'Uptown Funk',
            author: 'Mark Ronson',
            url: 'http://127.0.0.1:8000/music/Uptown Funk',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/secret base~.jpg'
        }, {
            title: '回梦游仙',
            author: '骆集益',
            url: 'http://127.0.0.1:8000/music/huimengyouxian',
            pic: 'http://127.0.0.1:8000/picture/huimengyouxian'
        }, {
            title: 'Cry me a river',
            author: 'Justin Timberlake',
            url: 'http://7xq131.com1.z0.glb.clouddn.com/secret base~.mp3',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/あっちゅ～ま青春!.jpg'
        }, {
            title: 'lie',
            author: 'Bigbang',
            url: 'http://7xq131.com1.z0.glb.clouddn.com/secret base~.mp3',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/secret base~.jpg'
        }, {
            title: 'Cakes by the ocean',
            author: 'DDDD',
            url: 'http://7xq131.com1.z0.glb.clouddn.com/回レ！雪月花.mp3',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/回レ！雪月花.jpg'
        }, {
            title: 'Cry me a river',
            author: 'Justin Timberlake',
            url: 'http://7xq131.com1.z0.glb.clouddn.com/secret base~.mp3',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/あっちゅ～ま青春!.jpg'
        }, {
            title: 'lie',
            author: 'Bigbang',
            url: 'http://7xq131.com1.z0.glb.clouddn.com/secret base~.mp3',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/secret base~.jpg'
        }, {
            title: 'Cakes by the ocean',
            author: 'DDDD',
            url: 'http://7xq131.com1.z0.glb.clouddn.com/回レ！雪月花.mp3',
            pic: 'http://7xq131.com1.z0.glb.clouddn.com/回レ！雪月花.jpg'
        }]
    });
    ap4.init();
    </script>
{% endblock %}