{% extends "base.html" %} 
{% block bg %}
    <div class="list-bg">
        <div class="bg">
        </div>
    </div>
    <div class="list-bg black">
        <div class="bg">
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">Manage Songs</div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Album</th>
                <th>PlayList</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for song in song_list %}
            <tr>
                <td></td>
                <td>{{ forloop.counter }}</td>
                <td>{{ song.name }}</td>
                <td>{{ song.artist }}</td>
                <td>{{ song.album }}</td>
                <td>
                {% for list in song.playlist_set.all %}
                    {% if forloop.last %}
                        {{list.name}} 
                    {% else %}
                        {{list.name}}, 
                    {% endif %}
                {% endfor%}
                </td>
                
                <td>
                    <form method="post" action="{% url 'musicsharing.views.remove_song_repo' %}">
                    <input type="hidden" name="song_name" value="{{song.name}}">
                    <button type="submit" class="glyphicon glyphicon-remove"></button>
                    
                    {% csrf_token %}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Edit Music Info</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="#" id="edit-song">
                <div class="row">
                    <div class="col-xs-6">

                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" name="title" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label>Author</label>
                            <input type="text" name="author" class="form-control" placeholder="Name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                    	<div class="form-group">
                            <label>Album</label>
                            <input type="text" name="album" class="form-control" placeholder="Name">
                        </div>
                        {% csrf_token %}
                    </div>
                </div>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" form="edit-song" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}