{% extends "base.html" %} 
{% load math_extend %}
{% block content %}
    {% for list in playlist %}
    {{ forloop.counter0|modulus:"3,0" }}
    <div class="col-sm-4">  
        <div class="jumbotron need-hover">
        	<div class="jumbotron-photo">
            	<img class="media-object img-rounded" src="{% url 'musicsharing.views.get_list_picture' list.id %}">
        	</div>
            <div class="jumbotron-contents">
                <h3>{{ list.name }}</h3>
                <div class="row">
                      <div class="col-md-6">
                        <label>Date</label>
                        <p>{{ list.date }}</p>
                      </div>
                      <div class="col-md-6">
                        <label>Number of Songs</label>
                        <p>{{ list.count }}</p>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Brief Introduction</label>
                        <p>{{ list.intro }}</p>
                      </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>Songs</label>
                        <table class="table" id="{{ list.id }}">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
                    </div>
                </div>
                <p><a href="#" class="btn btn-warning edit-playlist-btn" role="button" data-toggle="modal" data-target="#myModal"><input type="hidden" id="playlist-id" value="{{ list.id }}"></input>Edit</a>
                <form method="post" action="{% url 'musicsharing.views.delete_list' %}">
                <input type="hidden" name="list_id" value="{{list.id}}">
                <input type="submit" class="btn btn-default" value="Delete">
                {% csrf_token %}
                </form>
                <p><a href="#" class="btn btn-success add-song-to-list-btn" role="button" data-toggle="modal" data-target="#addSongModal"><input type="hidden" id="playlist-id" value="{{ list.id }}"></input>Add</a></p>
                 <a class="btn btn-primary" href="{% url 'musicsharing.views.home' %}?id={{ list.id }}"> Play </a>
            </div>
        </div>
    </div>
    {% if forloop.last %}
        </div>
    {% else %}
    {{ forloop.counter0|modulus:"3,1"}}
    {% endif %}
    {% endfor %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Edit Playlist Info</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Name of Playlist</label>
                            <input type="text" id="edit-list-name" class="form-control" placeholder="Name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Brief Introduction</label>
                            <textarea id="edit-list-intro" class="form-control" rows="3" maxlength="100"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="submit-edit-list" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="playlist-id-in-modal" value="">
</div> 

<!-- Modal -->
<div class="modal fade" id="addSongModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Song to Playlist</h4>
            </div>
            <div class="modal-body" id="addSongModal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Name of Song</label>
                            {{ add_song_form.add_song }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="submit-add-song"  class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="playlist-id-in-modal" value="">
</div> 
</div>
{% endblock %}
{% block js %}
{% load staticfiles %}
<script src="{% static "js/pymusic.js" %}"></script>
{% endblock %}