{% extends 'base.html' %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for msg in messages %}       
    <li>
        <div class="alert alert-{{msg.level_tag}}" role="alert">
    {{msg.message}}
    </div>
    </li>
    {% endfor %}
</ul>
{% endif %}

<!-- <div id="profile" class="form-edit-profile">
	<form method="post" action="{% url 'musicsharing.views.edit_profile'%}">
	{% load staticfiles %}
    <div class="icon-center">
    <img class="events-object img-rounded icon" src="{% url 'musicsharing.views.get_profile_picture' profile.id %}">
</div>
    <h1>{{profile.user.username}}</h1>
    <ul class="list--horz list--centered list--block list--comfy">
    <li class="profile__bio">
        <a data-modal="" class="media--inline content--tertiary" href="#bio-modal"><span class="media__img icon-user"></span>
        <div class="media__body">About</div>
        </a>
        <div class="modal__container modal--scrollable mfp-hide" id="bio-modal">
            <div class="modal__header">
                <h3 class="modal__title">
Linda Lorenzetti
<span class=" btn--important btn--badge btn--xsmall">Hero</span>
</h3>
            </div>
            <div class="modal__body content--secondary linebreaks auto_link">elearning enthusiast, presentation specialist, life-long learner, Articulate user.</div>
        </div>
    </li>
    <li class="profile__location">
        <div class="media--inline">
            <span class="media__img icon-location"></span>
            <div class="media__body">Toronto</div>
        </div>
    </li>
    <li class="profile__link">
        <a title="http://www.e-adventurer.com" target="_blank" class="media--inline content--tertiary" href="http://www.e-adventurer.com"><span class="media__img icon-globe"></span>
<div class="media__body">Website</div>
</a></li>
    <li class="profile__contact">
        <a data-login-required="true" data-modal="" data-modal-reset="off" class="media--inline content--tertiary" href="#contact-modal"><span class="media__img icon-envelope"></span>
<div class="media__body">Contact Me</div>
</a></li>
</ul>
    {% if profile.user.username != user.username %}
    <button type="submit" id="submit-edit-list" class="btn btn-lg btn-primary btn-block">Follow</button>
    {% endif %}
    {% csrf_token %}
</form>
</div> -->

          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{profile.user.username}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{% url 'musicsharing.views.get_profile_picture' profile.id %}" class="img-circle img-square img-thumbnail"> </div>
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Nickname</td>
                        <td>{{profile.nickname}}</td>
                      </tr>
                      <tr>
                        <td>Age</td>
                        <td>{{profile.age}}</td>
                      </tr>
                      <tr> 
                        <td>Gender</td>
                        <td>{{profile.gender}}</td>
                      </tr>
                        <tr>
                        <td>Country</td>
                        <td>{{profile.country.name}}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{profile.user.email}}">{{profile.user.email}}</a></td>
                      </tr>
                        <td>Bio</td>
                        <td>{{profile.bio}}
                        </td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  {% if profile.user == user %}
                    <a href="{% url 'musicsharing.views.edit_profile' %}" class="btn btn-primary"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>  Edit</a>
                  {% elif not follow %}
                  <a href="{% url 'musicsharing.views.follow' profile.user.username %}" class="btn btn-primary"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>  Follow</a>
                  {% else %}
                  <a href="{% url 'musicsharing.views.unfollow' profile.user.username %}" class="btn btn-primary"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>  UnFollow</a>
                  {% endif %}
                </div>

              </div>

              </div>
            </div>
                 <div class="panel-footer">
                        
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-envelope"></i></a>
                        </span>
                        <div style="clear:both;"> </div>
                    </div>
            
          </div>
{% for post in posts %}
<div class="well post">
    <div class="media row">
        <a class="pull-left col-md-2" href="#">
            <img class="media-object img-rounded" src="{% url 'musicsharing.views.get_profile_picture' post.user.profile.all.0.id %}">
        </a>
        <div class="col-md-10">
            <!-- <h4 class="media-heading">Receta 2</h4> -->
            <h4 class="media-heading"><a href="{% url 'musicsharing.views.profile' post.user.username %}">{{post.user.username}}</a><a href="#" data-toggle="modal" data-target="#myModal" class="comment-btn"><input type="hidden" value="{{ post.id }}"></input><span class="glyphicon glyphicon-comment pull-right" aria-hidden="true"></span></a></h4>
            <p class="blog-post-meta"><span>{{ post.date | date:"Y-m-d H:i:s"}}</span></p>
            <p>{{post.content}}</p>
                    <!-- <form method="post" >
                        <button type="submit" class="btn btn-success addtosong">+ Add to Songs</button>
                    </form> -->
            <div class="comments" id="comment-list-{{ post.id }}">
                {% for comment in comments %}
                {% if comment.post.id == post.id %}
                <div class="row pull-left">
                    <div class="col-md-1">
                        <img class="img-rounded" src="{% url 'musicsharing.views.get_profile_picture' comment.user.profile.all.0.id %}" alt="...">
                    </div>
                    <div class="col-md-11">
                        <div class="post-comments">
                            <p class="blog-post-meta">{{ comment.date | date:"Y-m-d H:i:s"}} &nbsp;<a href="{% url 'musicsharing.views.profile' comment.user.username %}">{{comment.user.username}}</a> says : </p>
                            <p>
                                {{comment.content}}
                            </p>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="modal fade comment-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Comment</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'musicsharing.views.comment' %}" id="comment-form-141">
                        <textarea class="form-control" cols="40" id="id_comment_content" maxlength="160" name="content" rows="3">
                        </textarea>
                        {% csrf_token %}
                        <input type="hidden" name="post_id" id="comment-modal-id" value="3"></input>
                        <input type="hidden" name="profile_id" value="{{ user.profile.all.0.id }}"></input>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" form="comment-form-141" class="btn btn-primary">Submit Comment</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
{% load staticfiles %}
<script src="{% static "js/comment.js" %}"></script>
{% endblock %}