{% extends 'base.html' %}
{% block bg %}
    <div class="list-bg">
        <div class="bg">
        </div>
    </div>
    <div class="list-bg black">
        <div class="bg">
        </div>
    </div>
{% endblock %}
{% block content %}

<!-- {% if messages %}
<ul class="messages">
    {% for msg in messages %}       
    <li>
        <div class="alert alert-{{msg.level_tag}}" role="alert">
    {{msg.message}}
    </div>
    </li>
    {% endfor %}
</ul>
{% endif %} -->
    <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">  
<div class="container">
    <div class="row ">
        <div class="col-md-1" style="clear:both">
        </div>
        <div class="col-md-10">
        <div class=" user-menu-container square">
        <div class="col-md-7 user-details">
            <div class="row coralbg white">
                <div class="col-md-5 no-pad">
                    <div class="user-pad">
                        <h3 class="bloc">{{profile.user.username}}</h3>
                        <!-- {% if profile.nickname %}
<h4 class="white"><i class="fa fa-user"></i> {{profile.nickname}}</h4>
{% endif %}
{% if profile.country %}
<h4 class="white"><i class="fa fa-globe"></i> {{profile.country.name}}</h4>
{% endif %}
{% if profile.age %}
<h4 class="white"><i class="fa fa-birthday-cake" aria-hidden="true"></i> {{profile.age}}</h4>
{% endif %}
{% if profile.gender %}
<h4 class="white"><i class="fa fa-heart" aria-hidden="true"></i> {{profile.gender}}</h4>
{% endif %} -->
<h4 class="white"><i class="fa fa-user"></i> {{profile.nickname}}</h4>
<h4 class="white"><i class="fa fa-globe"></i> {{profile.country.name}}</h4>
<h4 class="white"><i class="fa fa-birthday-cake" aria-hidden="true"></i> {{profile.age}}</h4>
<h4 class="white"><i class="fa fa-heart" aria-hidden="true"></i> {{profile.gender}}</h4>
                            {% if profile.user == user %}
                    <a href="{% url 'musicsharing.views.edit_profile' %}" class="btn btn-labeled btn-info"><span class="btn-label"><i class="fa fa-pencil" aria-hidden="true"></i></span>  Edit</a>
                  {% elif not follow %}
                  <a href="{% url 'musicsharing.views.follow' profile.user.username %}" class="btn btn-labeled btn-info"> <span class="btn-label"><i class="fa fa-star" aria-hidden="true"></i></span>  Follow</a>
                  {% else %}
                  <a href="{% url 'musicsharing.views.unfollow' profile.user.username %}" class="btn btn-labeled btn-info"> <span class="btn-label"><i class="fa fa-star" aria-hidden="true"></i></span>  UnFollow</a>
                  {% endif %}
                    </div>
                </div>
                <div class="col-md-7 no-pad">
                    <div class="user-image">
                        <!-- <img src="https://farm7.staticflickr.com/6163/6195546981_200e87ddaf_b.jpg" class="img-responsive thumbnail"> -->
                        <img alt="User Pic" src="{% url 'musicsharing.views.get_profile_picture' profile.id %}" class="img-responsive thumbnail">
                    </div>
                </div>
            </div>
            <div class="row overview">
                <div class="col-md-4 user-pad text-center">
                    <h3>FOLLOWERS</h3>
                    <h4>{{followers}}</h4>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <h3>FOLLOWING</h3>
                    <h4>{{followees}}</h4>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <h3>POSTS</h3>
                    <h4>{{posts.count}}</h4>
                </div>
            </div>
        </div>
        <div class="col-md-5 user-menu user-pad">
            <div class="user-menu-content active">
                <div class="user-menu-list"><h3><i class="fa coral fa-envelope"></i> 
                    Email
                </h3><h5>
                        {% if profile.user.email and profile.user == user %}
                       <a href="mailto:{{profile.user.email}}">{{profile.user.email}}</a>&nbsp; &nbsp; |&nbsp; &nbsp;  <a href="/accounts/email"> Set Your Email </a>
                        {% elif profile.user.email %}
                        <a href="mailto:{{profile.user.email}}">{{profile.user.email}}</a>
                        {% elif profile.user == user %}
                        <a href="/accounts/email"> Set Your Email </a>
                        {% endif %}</h5>
                </div>
            </div>
            <div class="user-menu-content active">
                <div class="user-menu-list"><h3><i class="fa coral fa-globe"></i> 
                    Bio
                </h3><h5>{{profile.bio}}</h5>
                </div>
            </div>
        </div>
        <div style="clear:both">
            <div class="col-md-1" style="clear:both">
        </div>
        </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
    </div>
    <div class="[ col-xs-12 col-sm-5 ]">
{% for post in posts %}
{% if forloop.counter0|divisibleby:"2" %}
        <div class="[ panel panel-default ] panel-google-plus">
            <div class="panel-heading">
                <img class="pull-left img-circle  img-46" src="{% url 'musicsharing.views.get_profile_picture' post.user.profile.all.0.id %}">
                <h3><a href="{% url 'musicsharing.views.profile' post.user.username %}">{{post.user.username}}</a></h3>
                <h5><span>{{ post.date | date:"Y-m-d H:i:s"}}</span> </h5>
            </div>
            <div class="panel-body">
                <p>{{post.content}}</p>
                <div class="post-song">
                    <div class="row">
                        <img class="img-square pull-left" src="{% url 'musicsharing.views.get_picture' post.music.name %}" alt="...">
                        <p class="post-song-title">{{post.music.name}}</p>
                        <p class="post-song-content">
                            {{post.music.artist}} / {{post.music.album}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="[ btn btn-default ]">+1</button>
                <div class="input-placeholder">Add a comment...</div>
            </div>
            <div class="comments">
                {% for comment in comments %} {% if comment.post.id == post.id %}
                <div id="" tabindex="-1" class="Ik Wv" jsmodel="mrYqlc">
                    <div class="Wi lg ">
                        <a href="" class="ob Jk" oid="117543036089291964062" aria-hidden="true"><img class="go wi Wh img-28" src="{% url 'musicsharing.views.get_profile_picture' comment.user.profile.all.0.id %}" alt="..."></a>
                        <div class="Jx">
                            <div class="eR">
                                <div class="fR"><a href="{% url 'musicsharing.views.profile' comment.user.username %}">{{comment.user.username}}</a></a>
                                    <!-- <div class="Nba Cw"></div> -->
                                    <div class="wO"><span class="Rg">{{ comment.date | date:"Y-m-d H:i:s"}}</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="Aq DK Bt UR gA">
                                <div class="Ct">{{comment.content}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
                <div class="panel-google-plus-comment">
                    <img class="img-circle img-28" src="{% url 'musicsharing.views.get_profile_picture' post.user.profile.all.0.id %}">
                    <div class="panel-google-plus-textarea">
                        <form method="post" action="{% url 'musicsharing.views.comment' %}" id="comment-form-{{post.id}}">
                        <textarea class="form-control" cols="40" id="id_comment_content" maxlength="160" name="content" rows="3"></textarea>
                        {% csrf_token %}
                        <input type="hidden" name="post_id" id="comment-modal-id" value="{{post.id}}"></input>
                        <input type="hidden" name="user_name" id="comment-modal-id" value="{{ user.username }}"></input>
                        <input type="hidden" name="profile_id" value="{{ user.profile.all.0.id }}"></input>
                        </form>
                        <button type="submit" form="comment-form-{{post.id}}" class="[ btn btn-comment btn-success disabled ]">Post comment</button>
                        <button type="reset" class="[ btn btn-default ]">Cancel</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
        </div>
        <div class="[ col-xs-12 col-sm-5 ]">
        {% for post in posts %}
        {% if not forloop.counter0|divisibleby:"2" %}
        <div class="[ panel panel-default ] panel-google-plus">
            <div class="panel-heading">
                <img class="pull-left img-circle  img-46" src="{% url 'musicsharing.views.get_profile_picture' post.user.profile.all.0.id %}">
                <h3><a href="{% url 'musicsharing.views.profile' post.user.username %}">{{post.user.username}}</a></h3>
                <h5><span>{{ post.date | date:"Y-m-d H:i:s"}}</span> </h5>
            </div>
            <div class="panel-body">
                <p>{{post.content}}</p>
                <div class="post-song">
                    <div class="row">
                        <img class="img-square pull-left" src="{% url 'musicsharing.views.get_picture' post.music.name %}" alt="...">
                        <p class="post-song-title">{{post.music.name}}</p>
                        <p class="post-song-content">
                            {{post.music.artist}} / {{post.music.album}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="[ btn btn-default ]">+1</button>
                <div class="input-placeholder">Add a comment...</div>
            </div>
            <div class="comments">
                {% for comment in comments %} {% if comment.post.id == post.id %}
                <div id="" tabindex="-1" class="Ik Wv" jsmodel="mrYqlc">
                    <div class="Wi lg ">
                        <a href="" class="ob Jk" oid="117543036089291964062" aria-hidden="true"><img class="go wi Wh img-28" src="{% url 'musicsharing.views.get_profile_picture' comment.user.profile.all.0.id %}" alt="..."></a>
                        <div class="Jx">
                            <div class="eR">
                                <div class="fR"><a href="{% url 'musicsharing.views.profile' comment.user.username %}">{{comment.user.username}}</a></a>
                                    <!-- <div class="Nba Cw"></div> -->
                                    <div class="wO"><span class="Rg">{{ comment.date | date:"Y-m-d H:i:s"}}</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="Aq DK Bt UR gA">
                                <div class="Ct">{{comment.content}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
                <div class="panel-google-plus-comment">
                    <img class="img-circle img-28" src="{% url 'musicsharing.views.get_profile_picture' post.user.profile.all.0.id %}">
                    <div class="panel-google-plus-textarea">
                        <form method="post" action="{% url 'musicsharing.views.comment' %}" id="comment-form-{{post.id}}">
                        <textarea class="form-control" cols="40" id="id_comment_content" maxlength="160" name="content" rows="3"></textarea>
                        {% csrf_token %}
                        <input type="hidden" name="post_id" id="comment-modal-id" value="{{post.id}}"></input>
                        <input type="hidden" name="user_name" id="comment-modal-id" value="{{ user.username }}"></input>
                        <input type="hidden" name="profile_id" value="{{ user.profile.all.0.id }}"></input>
                        </form>
                        <button type="submit" form="comment-form-{{post.id}}" class="[ btn btn-comment btn-success disabled ]">Post comment</button>
                        <button type="reset" class="[ btn btn-default ]">Cancel</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
 
    {% endif %}
{% endfor %}
   </div>
</div>

{% endblock %}
{% block js %}
{% load staticfiles %}
<script src="{% static "js/comment.js" %}"></script>
{% endblock %}