{% extends 'base.html' %}

{% block content %}
<!-- {% if messages %}
<ul class="messages">
    {% for msg in messages %}       
    <li>
        <div class="alert alert-{{msg.level_tag}}" role="alert">
    {{msg.message}}
    </div>
    </li>
    {% endfor %}
</ul>
{% endif %} -->

          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{profile.user.username}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{% url 'musicsharing.views.get_profile_picture' profile.id %}" class="img-circle img-square img-thumbnail"> </div>
                
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Nickname</td>
                        <td>{{profile.nickname}}</td>
                      </tr>
                      <tr>
                        <td>Age</td>
                        <td>{{profile.age}}</td>
                      </tr>
                      <tr> 
                        <td>Gender</td>
                        <td>{{profile.gender}}</td>
                      </tr>
                        <tr>
                        <td>Country</td>
                        <td>{{profile.country.name}}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        {% if profile.user.email and profile.user == user %}
                        <td><a href="mailto:{{profile.user.email}}">{{profile.user.email}}</a>&nbsp; &nbsp; |&nbsp; &nbsp;  <a href="/accounts/email"> Set Your Email </a></td> 
                        {% elif profile.user.emal %}
                        <td><a href="mailto:{{profile.user.email}}">{{profile.user.email}}</a>
                        {% elif profile.user == user %}
                        <td><a href="/accounts/email"> Set Your Email </a></td>                     
                        {% endif %}
                        
                      </tr>
                        <td>Bio</td>
                        <td class="bio">{{profile.bio}}
                        </td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  {% if profile.user == user %}
                    <a href="{% url 'musicsharing.views.edit_profile' %}" class="btn btn-lg btn-block btn-primary"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>  Edit</a>
                  {% elif not follow %}
                  <a href="{% url 'musicsharing.views.follow' profile.user.username %}" class="btn btn-lg btn-block btn-primary"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>  Follow</a>
                  {% else %}
                  <a href="{% url 'musicsharing.views.unfollow' profile.user.username %}" class="btn btn-lg btn-block btn-primary"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>  UnFollow</a>
                  {% endif %}
                </div>

              </div>

              </div>
            </div>
                 
          </div>
{% for post in posts %}
<div class="well post">
    <div class="media row">
        <a class="pull-left col-md-2" href="#">
            <img class="media-object img-rounded" src="{% url 'musicsharing.views.get_profile_picture' post.user.profile.all.0.id %}">
        </a>
        <div class="col-md-10">
            <!-- <h4 class="media-heading">Receta 2</h4> -->
            <h4 class="media-heading"><a href="{% url 'musicsharing.views.profile' post.user.username %}">{{post.user.username}}</a><a href="#" data-toggle="modal" data-target="#myModal" class="comment-btn"><input type="hidden" value="{{ post.id }}"></input><span class="glyphicon glyphicon-comment pull-right" aria-hidden="true"></span></a></h4>
            <p class="blog-post-meta"><span>{{ post.date | date:"Y-m-d H:i:s"}}</span></p>
            <p>{{post.content}}</p>
            <div class="post-song">
                <div class="row">
                    <img class="img-square pull-left" src="{% url 'musicsharing.views.get_picture' post.music.name %}" alt="...">
                    <p class="post-song-title">{{post.music.name}}</p>
                    <!-- <form method="post" >
                        <button type="submit" class="btn btn-success addtosong pull-right">+ Add to Songs</button>
                        {% csrf_token %}
                    </form> -->
                    <p class="post-song-content">
                            {{post.music.artist}} / {{post.music.album}}
                    </p>
                </div>
            </div>
            <div class="comments" id="comment-list-{{ post.id }}">
                {% for comment in comments %}
                {% if comment.post.id == post.id %}
                <div class="row pull-left">
                    <div class="col-md-1">
                        <img class="img-rounded" src="{% url 'musicsharing.views.get_profile_picture' comment.user.profile.all.0.id %}" alt="...">
                    </div>
                    <div class="col-md-11">
                        <div class="post-comments">
                            <p class="blog-post-meta">{{ comment.date | date:"Y-m-d H:i:s"}} &nbsp;<a href="{% url 'musicsharing.views.profile' comment.user.username %}">{{comment.user.username}}</a> says : </p>
                            <p class="comment-content">
                                {{comment.content}}
                            </p>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="modal fade comment-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Comment</h4>
                </div>
                <div class="modal-body" id="myModal-body">
                    <form method="post" action="{% url 'musicsharing.views.comment' %}" id="comment-form-141">
                        <textarea class="form-control" cols="40" id="id_comment_content" maxlength="160" name="content" rows="3"></textarea>
                        {% csrf_token %}
                        <input type="hidden" name="post_id" id="comment-modal-id" value="3"></input>
                        <input type="hidden" name="profile_id" value="{{ user.profile.all.0.id }}"></input>
                        <input type="hidden" name="user_name" id="comment-modal-id" value="{{ user.username }}"></input>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" form="comment-form-141" class="btn btn-primary">Submit Comment</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
{% load staticfiles %}
<script src="{% static "js/comment.js" %}"></script>
{% endblock %}