body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: rgba(0,0,0,.42);
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

h1 {
    font-size: 54px;
    color: #333;
    margin: 30px 0 10px;
}

h2 {
    font-size: 22px;
    color: #555;
}

h3 {
    font-size: 24px;
    color: #555;
}

hr {
    display: block;
    width: 7rem;
    height: 1px;
    margin: 2.5rem 0;
    background-color: #eee;
    border: 0;
}

a {
    color: #08c;
    text-decoration: none;
}

p {
    font-size: 18px;
}
.aplayer {
    background: rgba(255,255,255,.78);
}
/*.aplayer .aplayer-list {
    min-height: 400px;
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}*/


.file-input-wrapper input[type=file], .file-input-wrapper input[type=file]:focus, .file-input-wrapper input[type=file]:hover {
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0f);
    z-index: 99;
    outline: 0;
}
input#fileToUploadOne {
    left: 157px;
    top: 72px;
    width: 71px;
}
.upload-box {
    position: relative;
    position: relative;
    height: 38px;
    top: 54px;
    right: 10px;
}
.upload-box #modal-button {
    position: absolute;
    right: 10px;
    height: inherit;
}
.upload-modal-box {
    height: 38px;
}
.upload-modal-box .btn {
    height: inherit;
}
.upload-modal-box input#fileToUploadOne {
    left: 0px;
    top: -27px;
    width: 150px;
}
a.file-input-wrapper {
    padding: 6px 0px;
}
#modal-button{
    opacity: 0.75;
}
.lyrics {
    position: absolute;
    right: 50%;
    height: inherit;
}
.aplayer-pic {
    border-top-left-radius: 15px;
}
.aplayer .aplayer-lrc {
    background: transparent;
}
.aplayer .aplayer-lrc:after {
    /*background: transparent;*/
    margin-top: 5px;
}
.aplayer .aplayer-lrc:before {
    background: transparent;
}