body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: rgba(0,0,0,.42);
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

h1 {
    font-size: 54px;
    color: #333;
    margin: 30px 0 10px;
}

h2 {
    font-size: 22px;
    color: #555;
}

h3 {
    font-size: 24px;
    color: #555;
}

hr {
    display: block;
    width: 7rem;
    height: 1px;
    margin: 2.5rem 0;
    background-color: #eee;
    border: 0;
}

a {
    color: #08c;
    text-decoration: none;
}

p {
    font-size: 18px;
}
.aplayer {
    background: rgba(255,255,255,.78);
}
/*.aplayer .aplayer-list {
    min-height: 400px;
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}*/

#modal-button{
    opacity: 0.75;
}
.lyrics {
    position: absolute;
    right: 50%;
    height: inherit;
}
.aplayer-pic {
    border-top-left-radius: 5px;
}
.aplayer .aplayer-lrc {
    background: transparent;
}
.aplayer .aplayer-lrc:after {
    /*background: transparent;*/
    margin-top: 5px;
}
.aplayer .aplayer-lrc:before {
    background: transparent;
}