html {
	height: 100%;
	overflow: inherit;
}
body {
	background-color: rgb(241, 242, 246);
	height: 100%;
	overflow: scroll;
	position: inherit;
    /*background: url("../img/bg.jpg") no-repeat top center;*/
}
/*.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #8c8c8c;
    background-color: #000;
}*/
.img-square {
  width: 100%;
    height: 100%;
    width: 128px;
    height: 128px;
}
ul.messages {
  padding-left: 0px;
}
.bg {
    background: url("http://blog.transfer-iphone-recovery.com/images/photo-with-blur-background.jpg") 30% 30% / cover;
    box-shadow: 0 10px 150px rgba(0,0,0,.3)inset;
}
.black .bg {
    background: rgba(0,0,0,.48);
}
.list-bg , .bg{
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /*border-radius: 8px;*/
    overflow: hidden;
    box-sizing: border-box;
}

.form-search .selecter {
	display: inline;
	float: left;
	width: 80px;
	margin-right: 10px;
}

.search-only .search-icon {
    left: 92.5px;
}
.form-search input.search-query {
	padding-left: 28px;
}
.navbar-inverse {
    background-color: #000;
    border-color: #333;
    border-bottom-color: rgba(255, 255, 255, 0.75);
}
.modal-body form .upload-btn {
	float: left;
	margin-right: 10px;
}
.jumbotron-photo img{
	width: 100%;
    max-height: 250px;
}

.need-hover {
    opacity: 0.85;
}

.file-input-wrapper input[type=file], .file-input-wrapper input[type=file]:focus, .file-input-wrapper input[type=file]:hover {
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0f);
    z-index: 99;
    outline: 0;
}
input#fileToUploadOne {
    left: 157px;
    top: 72px;
    width: 71px;
}
.upload-box {
    position: relative;
    position: relative;
    height: 38px;
    top: 54px;
    right: 10px;
}
.upload-box #modal-button {
    position: absolute;
    right: 10px;
    height: inherit;
}
.upload-modal-box {
    height: 38px;
}
.upload-modal-box .btn {
    height: inherit;
}
.upload-modal-box input#fileToUploadOne {
    left: 0px;
    top: -27px;
    width: 150px;
}
a.file-input-wrapper {
    padding: 6px 0px;
}

.timeline img.events-object {
    width: 64px;
    height: 64px;
}

.media-list {
    color:#434a54;
}

table .glyphicon {
    cursor: pointer;
    color: #3bafda;
}
.jumbotron-contents h3 {
    margin-top: 0px;
    overflow: auto;
}
.jumbotron-contents > p , .jumbotron-contents > form{
    float: left;
    margin-right: 10px;
}
.jumbotron-contents p {
    word-wrap:break-word; 
    word-break:normal;
}
.jumbotron>.jumbotron-photo img{
    padding: 4px;
    border-radius: 8px;
}
.panel-info>.panel-heading {
    background-color: #3bafda;
    border-color: #9DCCDE;
}
.comment {
    border-width: 2px;
    border-color: #939699;
    border-style: dotted;
    padding: 10px 10px 5px 10px;
    border-radius: 10px;
}

/* profile */
/* edit-profile */
#profile {
    background: rgba(255, 255, 255, 0.65);
    padding: 40px;
    min-height: 400px;
    border-radius: 5px;
}
@media (min-width: 1200px){
#profile {
    width: 50%;
    margin: 0 auto;
}
}
.form-edit-profile .input-group {
    height: 45px;
    margin-bottom: 15px;
}
.input-group input.form-control {
    height: 45px;
}
.input-group-addon {
    color: #fff;
    background-color: #7cd1ef;
    border-color: #4fc1e9;
}
.styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png)no-repeat 65% 0;
    background-position: right 10px center;
    height: 45px;
  overflow: hidden;
  width: 240px;
}
.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 45px;
  padding: 5px;
  /* If you add too much padding here, the options won't show in IE */
  width: 268px;
  color: #434a54;
    margin-left: 5px;
}
.input-group .form-control:first-child {
    width: 268px;
}
.styled-select.slate {
  background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
  height: 34px;
  width: 240px;
}
.styled-select.slate select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 268px;
}
.blue {
  background-color:  #fff;
}
.rounded {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.semi-square {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* profile */
#profile h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 0px;
    font-weight: 500;
}
#profile .form-control.disabled, #profile .form-control[disabled] {
     background-color: #fff; 
     border-color: #aab2bd; 
}
#profile textarea {
    margin-bottom: 13px;
}
#profile > h5 {
    text-shadow: #f5f5f5 0px 1px;
    color: #3bafda;
}
#profile > form > h1 {
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.23em;
}
#profile img.icon {
    width: 150px;
    height: 150px;
    
    border-radius: 70px;
}
.icon-center {
    margin: 0 auto;
    width: 150px;
    height: 150px;
}
.break-word {
    word-wrap:break-word; 
    word-break:normal;
}

/* Post */
.post {
  min-height: 170px;
  background-color:rgba(255, 255, 255, 0.87);
}
h4.media-heading {
  width: 100%;
}
.comments .row {
  margin-top: 15px;
}
.post-comments {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.06), 0px 1px 0px rgba(0,0,0,.07);
    border: 1px solid #eee;
    /*margin-bottom: 20px;*/
    /*margin-left: 85px;*/
    margin-right: 0;
    padding: 10px 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #6b6e80;
    position: relative;
}
.post-comments:before {
    content: "";
    position: absolute;
    top: 8px;
    left: -10px;
    border: 10px;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
    border-left: 0 solid transparent;
}
.post-content {
  margin-bottom: 15px;
}
.well {
  padding: 15px;
}
.comments img {
  width: 45px;
  height: 45px;
}
img.media-object {
  width: 100%;
  height: 100%;
  min-width: 160px;
  min-height: 160px;
}
.addtosong {
  /*margin-bottom: 15px;*/
}
.blog-post-meta span {
  font-size: 13px;
}
span.glyphicon-comment {
  margin-right: -25px;
}
.panel {
  background-color:rgba(255, 255, 255, 0.92);
}
.post-song .row{
  padding: 10px;
    border: 1px #D8D0D0 dotted;
    background-color: rgba(255, 255, 255, 0.92);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.06), 0px 1px 0px rgba(0,0,0,.07);
}
.post-song img {
  width: 80px;
  height: 80px;
}
.post-song p {
  position: relative;
    left: 20px;
}
.post-song-title {
  font-size: 16px;
  margin-top: 16px;
}
.post-song-content {
  font-size: 13px;
  margin-right: 180px;
}
.post-song span.glyphicon {
  position: relative;
  left: 0px;
}
.row {
  width: 100%;
}



/*sign in*/
.sign-in {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
}
#login-dp{
    min-width: 250px;
    padding: 20px;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .socialaccount_provider{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
    width: 100%;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
    width: 100%;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.bottom-signin {
    background-color: rgba(255,255,255,.8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
    width: 600px;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.form-control {
    color: #434a54;
    border-color: #aab2bd;
}
#login-dp .btn, #login-dp input {
  height: 43px;
  vertical-align: center;
      line-height: 29px;
}
#login-dp input {
    display: block;
    width: 100%;
    height: 43px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.modal {
  z-index: 98;
}


/*error*/
 .clear{
      clear: both;
      overflow: hidden;
  }
  #block_error{
      width: 845px;
      height: 384px;
      border: 1px solid #cccccc;
      margin: 72px auto 0;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background: #fff url(http://www.ebpaidrev.com/systemerror/block.gif) no-repeat 0 51px;
  }
  #block_error div{
      padding: 100px 40px 0 186px;
  }
  #block_error div h2{
      color: #218bdc;
      font-size: 24px;
      display: block;
      padding: 0 0 14px 0;
      border-bottom: 1px solid #cccccc;
      margin-bottom: 12px;
      font-weight: normal;
  }