html {
	height: 100%;
	overflow: inherit;
}
body {
	/*background-color: rgb(241, 242, 246);*/
  background-color: #eee;
	height: 100%;
	overflow: scroll;
	position: inherit;
}
/*.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #8c8c8c;
    background-color: #000;
}*/
@media (min-width: 768px){
.navbar {
    border-radius: 0px;
}
}
.navbar-default .navbar-nav>li>a{
  color: #337ab7;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #337ab7;
    background-color: #eee;
}
.navbar-default .navbar-nav>li>a:hover {
  color:#2a6496;
}
.img-square {
  width: 100%;
    height: 100%;
    width: 200px;
    height: 200px;
}
ul.messages {
  padding-left: 0px;
}
.bg {
    /*background: url("http://img2.goodfon.su/original/2048x1365/f/6e/cvetenie-vetka-derevo-cvety.jpg") 100% 100% / cover;*/
    background: url("../img/t_bg.jpg") 100% 100% / cover;
    box-shadow: 0 10px 150px rgba(0,0,0,.3)inset;
}
.black .bg {
    /*background: rgba(0,0,0,.48);*/
}
.list-bg , .bg{
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /*border-radius: 8px;*/
    overflow: hidden;
    box-sizing: border-box;
}

.form-search .selecter {
	display: inline;
	float: left;
	width: 80px;
	margin-right: 10px;
}

.search-only .search-icon {
    left: 92.5px;
}
.form-search input.search-query {
	padding-left: 28px;
}
.navbar-inverse {
    background-color: #000;
    border-color: #333;
    border-bottom-color: rgba(255, 255, 255, 0.75);
}
.modal-body form .upload-btn {
	float: left;
	margin-right: 10px;
}
.jumbotron-photo img{
	width: 100%;
    max-height: 250px;
}

.need-hover {
    opacity: 0.85;
}

.file-input-wrapper input[type=file], .file-input-wrapper input[type=file]:focus, .file-input-wrapper input[type=file]:hover {
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0f);
    z-index: 99;
    outline: 0;
}
input#fileToUploadOne {
    left: 157px;
    top: 72px;
    width: 71px;
}
.upload-box {
    position: relative;
    position: relative;
    height: 38px;
    top: 54px;
    right: 10px;
}
.upload-box #modal-button {
    position: absolute;
    right: 10px;
    height: inherit;
}
.upload-modal-box {
    height: 38px;
}
.upload-modal-box .btn {
    height: inherit;
}
.upload-modal-box input#fileToUploadOne {
    left: 0px;
    top: -27px;
    width: 150px;
}
a.file-input-wrapper {
    padding: 6px 0px;
}

.timeline img.events-object {
    width: 64px;
    height: 64px;
}

.media-list {
    color:#434a54;
}

table .glyphicon {
    cursor: pointer;
    color: #3bafda;
}
.jumbotron-contents h3 {
    margin-top: 0px;
    overflow: auto;
}
.jumbotron-contents > p , .jumbotron-contents > form{
    float: left;
    margin-right: 10px;
}
.jumbotron-contents p {
    word-wrap:break-word; 
    word-break:normal;
}
.jumbotron>.jumbotron-photo img{
    padding: 4px;
    border-radius: 8px;
}
.panel-info>.panel-heading {
    background-color: #3bafda;
    border-color: #3bafda;
}
.comment {
    border-width: 2px;
    border-color: #939699;
    border-style: dotted;
    padding: 10px 10px 5px 10px;
    border-radius: 10px;
}

/* profile */
/* edit-profile */
#profile {
    /*background: rgba(255, 255, 255, 0.65);*/
    padding: 40px;
    min-height: 400px;
    border-radius: 5px;
}
@media (min-width: 1200px){
.panel-profile {
  background-color: #ccc;
  width: 50%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.55);
}
}
.form-edit-profile .input-group {
    height: 40px;
    margin-bottom: 15px;
}
.input-group input.form-control {
    height: 40px;
}
.input-group-addon {
    color: #fff;
    background-color: #3bafda;
    border-color: #3bafda;
    background-color: rgb(124, 209, 239);
    border-color: rgb(79, 193, 233);
    width: 100px;
}
.styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png)no-repeat 65% 0;
    background-position: right 10px center;
    height: 45px;
  overflow: hidden;
  width: 240px;
}
.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 45px;
  padding: 5px;
  /* If you add too much padding here, the options won't show in IE */
  width: 268px;
  color: #434a54;
    margin-left: 5px;
}
.input-group .form-control:first-child {
    width: 268px;
}
.styled-select.slate {
  background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
  height: 34px;
  width: 240px;
}
.styled-select.slate select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 268px;
}
.blue {
  background-color:  #fff;
}
.rounded {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.semi-square {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* profile */
#profile h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 0px;
    font-weight: 500;
}
#profile .form-control.disabled, #profile .form-control[disabled] {
     background-color: #fff; 
     border-color: #aab2bd; 
}
#profile textarea {
    margin-bottom: 13px;
}
#profile > h5 {
    text-shadow: #f5f5f5 0px 1px;
    color: #3bafda;
}
#profile > form > h1 {
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.23em;
}
#profile img.icon {
    width: 150px;
    height: 150px;
    
    border-radius: 70px;
}
.icon-center {
    margin: 0 auto;
    width: 150px;
    height: 150px;
}
.break-word {
    word-wrap:break-word; 
    word-break:normal;
}

/* Post */
.post {
  min-height: 170px;
  background-color:rgba(255, 255, 255, 0.87);
}
h4.media-heading {
  width: 100%;
}
.comments .row {
  margin-top: 15px;
}
.post-comments {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.06), 0px 1px 0px rgba(0,0,0,.07);
    border: 1px solid #eee;
    /*margin-bottom: 20px;*/
    /*margin-left: 85px;*/
    margin-right: 0;
    padding: 10px 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #6b6e80;
    position: relative;
}
.post-comments:before {
    content: "";
    position: absolute;
    top: 8px;
    left: -10px;
    border: 10px;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
    border-left: 0 solid transparent;
}
.post-content {
  margin-bottom: 15px;
}
.well {
  padding: 15px;
}
.comments img {
  /*width: 45px;
  height: 45px;*/
}
img.media-object {
  width: 100%;
  height: 100%;
  min-width: 160px;
  min-height: 160px;
}
.addtosong {
  /*margin-bottom: 15px;*/
}
.blog-post-meta span {
  font-size: 13px;
}
span.glyphicon-comment {
  margin-right: -25px;
}
.panel {
  /*background-color:rgba(255, 255, 255, 0.92);*/
}
.post-song .row{
  padding: 10px;
    border: 1px #D8D0D0 dotted;
    background-color: rgba(255, 255, 255, 0.92);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.06), 0px 1px 0px rgba(0,0,0,.07);
    margin: 0px;
}
.post-song img {
  width: 80px;
  height: 80px;
}
.post-song p {
  position: relative;
    left: 20px;
}
.post-song-title {
  font-size: 16px;
  margin-top: 16px;
}
.post-song-content {
  font-size: 13px;
  /*margin-right: 180px;*/
}
.post-song span.glyphicon {
  position: relative;
  left: 0px;
}




/*sign in*/
.sign-in {
  /*width: 600px;*/
  margin: 0 auto;
  padding: 20px;
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
}
#login-dp{
    min-width: 250px;
    padding: 20px;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#login-dp .modal-footer {
  padding-top: 0px;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .socialaccount_provider{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
    width: 100%;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
    width: 100%;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*.bottom-signin {
    background-color: rgb(255,255,255);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
    width: 600px;
    margin: 0 auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}*/
.form-control {
    color: #434a54;
    border-color: #aab2bd;
}
#login-dp .btn, #login-dp input {
  height: 43px;
  vertical-align: center;
      line-height: 29px;
}
#login-dp input {
    display: block;
    width: 100%;
    height: 43px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
  /*  color: #555;
    background-color: #fff;*/
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#login-dp .ctrlHolder input {
  width: auto;
  display: inline;
  height: auto;
}
.modal {
  z-index: 98;
}
#loginModal .modal-footer, #addPost .modal-footer, #addPlaylist .modal-footer{
  padding-top: 0px;
}

/*error*/
 .clear{
      clear: both;
      overflow: hidden;
  }
  #block_error{
      width: 845px;
      height: 384px;
      border: 1px solid #cccccc;
      margin: 72px auto 0;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background: #fff url(http://www.ebpaidrev.com/systemerror/block.gif) no-repeat 0 51px;
  }
  #block_error div{
      padding: 100px 40px 0 186px;
  }
  #block_error div h2{
      color: #218bdc;
      font-size: 24px;
      display: block;
      padding: 0 0 14px 0;
      border-bottom: 1px solid #cccccc;
      margin-bottom: 12px;
      font-weight: normal;
  }

  .progress {
    /*background-color: #3bafda;*/
    color: #4E4E4E;
  }
  .percent {
    margin-left: 15px;
  }

table.table-user-information td.bio {
  word-break: break-all;
}
.Ct {
  word-break: break-all;
}



.division .line {
    border-top: 1px solid #e0e0e0;
    position: absolute;
    top: 10px;
    width: 38%;
}
.division {
    float: none;
    margin: 0 auto 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    margin: 10px 0;
}
.division .line.r {
    right: 0;
}
.division .line.l {
    left: 0;
}





/*post*/
.panel-google-plus {
    position: relative;
    border-radius: 0px;
    border: 1px solid rgb(216, 216, 216);
    font-family: 'Roboto', sans-serif;
}
.panel-google-plus > .dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}
.panel-google-plus > .dropdown > span > span {
    font-size: 10px;   
}
.panel-google-plus > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}
.panel-google-plus > .panel-google-plus-tags {
    position: absolute;
    top: 35px;
    right: -3px;
}
.panel-google-plus > .panel-google-plus-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover {
    box-shadow: 0px 0px 3px rgb(0, 0, 0);   
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);   
}
.panel-google-plus > .panel-google-plus-tags > ul > li {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    overflow: hidden;
}
.panel-google-plus > .panel-google-plus-tags > ul > li::after {
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
  border-right: 3px solid rgb(66, 127, 237);
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li,
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li {
    background-color: rgb(255, 255, 255);   
}
.panel-google-plus > .panel-google-plus-tags > ul > li:hover {
    background-color: rgb(66, 127, 237);
    color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px; 
}
.panel-google-plus > .panel-heading {
    margin-top: 10px;    
    padding-bottom: 5px; 
}
.panel-google-plus > .panel-heading > img { 
    margin-right: 15px;
}
.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}
.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}
.panel-google-plus > .panel-body {
    padding-top: 5px;
    font-size: 13px;
}
.panel-google-plus > .panel-body > .panel-google-plus-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}
.panel-google-plus > .panel-body > .panel-google-plus-image > img {
    max-width: 100%;
}

.panel-google-plus > .panel-footer {
    font-size: 14px;
    font-weight: 700;
    /*min-height: 54px;*/
}
.panel-google-plus > .panel-footer > .btn {
    float: left;
    margin-right: 8px;
}
.panel-google-plus > .panel-footer > .input-placeholder {
    display: block;
    /*margin-left: 53px;*/
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 6px 7px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus > .panel-footer > .btn {
  display: none;
}
.panel-google-plus.panel-google-plus-show-comment > .panel-footer > .input-placeholder {
    display: none;   
}
.panel-google-plus > .panel-google-plus-comment {
    display: none;
    padding: 10px 20px 15px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}
.panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
    display: block;
}
/*.panel-google-plus > .panel-google-plus-comment > img {
    float: left;   
}*/
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
    float: right;
    width: calc(100% - 56px);
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
    display: block;
    /*margin-left: 60px;
    width: calc(100% - 56px);*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}
@media (min-width: 992px) {
    .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
        width: auto;
    }    
}

.img-46 {
  width: 46px;
  height: 46px;
}
.panel-google-plus .btn {
    border-radius: 3px;   
}
.panel-google-plus .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus .btn-default:hover, 
.panel-google-plus .btn-default:focus, 
.panel-google-plus .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);    
}



/*comment*/
.img-28 {
  height: 28px;
  width: 28px;
      border-radius: 3px;
}
.Rg {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}
.lg {
    border-bottom: 0;
    margin: 0 0 0 0;
    min-height: 0;
    padding: 0 20px 16px 58px;
    vertical-align: top;
}
.Wh {
    border: none;
    margin: 4px 0 0 -38px;
}
.Wh, .SC {
    float: left;
}
.Aq {
    color: #404040;
    font-size: 13px;
  }

/*drop down */
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #337ab7;
    white-space: nowrap;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
color:#337ab7;text-decoration:none;background-color:#ddd;
}
.navbar-default .btn-link:focus, .navbar-default .btn-link:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-link:hover {
    color: #222;
    background-color: transparent;
}
div.styled-select {
  box-shadow: inset 0 0px 0 rgba(255,255,255,.16), 0px 1px 2px rgba(0,0,0,.17);
}


/*profile*/
/* -- color classes -- */
.coralbg {
    background-color: #FA396F;
} 

.coral {
    color: #FA396f;
}

.turqbg {
    background-color: #46D8D2;
}

.turq {
    color: #46D8D2;
}

.white {
    color: #fff!important;
}

/* -- The "User's Menu Container" specific elements. Custom container for the snippet -- */
div.user-menu-container {
  z-index: 10;
  background-color: #fff;
  margin-top: 20px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

div.user-menu-container .btn-lg {
    padding: 0px 12px;
}

div.user-menu-container h4 {
    font-weight: 300;
    color: #8b8b8b;
}

div.user-menu-container a, div.user-menu-container .btn  {
    transition: 1s ease;
}

div.user-menu-container .thumbnail {
   width:100%;
   min-height:200px;
   height: 292px;
   border: 0px!important;
   padding: 0px;
   border-radius: 0;
   border: 0px!important;
}

/* -- Vertical Button Group -- */
div.user-menu-container .btn-group-vertical {
    display: block;
}

div.user-menu-container .btn-group-vertical>a {
    padding: 20px 25px;
    background-color: #46D8D2;
    color: white;
    border-color: #fff;
}

div.btn-group-vertical>a:hover {
    color: white;
    border-color: white;
}

div.btn-group-vertical>a.active {
    background: #FA396F;
    box-shadow: none;
    color: white;
}
/* -- Individual button styles of vertical btn group -- */
div.user-menu-btns {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.user-menu-btns div.btn-group-vertical>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #46D8D2;
}
/* -- The main tab & content styling of the vertical buttons info-- */
div.user-menu-content {
    color: #323232;
}

.user-menu-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #eee;
}
.user-menu-list>h5 {
    padding-bottom: 8px;
    font-size: 15px;
    font-weight: 300;
    word-break: break-all;
    margin-bottom: 5px;
}
.user-menu-list>h3 {
  margin-top: 10px;
  font-size: 24px;
}
div.user-menu div.user-menu-content:not(.active){
  display: none;
}

/* -- The btn stylings for the btn icons -- */
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}

/* -- Custom classes for the snippet, won't effect any existing bootstrap classes of your site, but can be reused. -- */

.user-pad {
    padding: 20px 25px;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.user-details {
    background: #eee;
    min-height: 333px;
}

.user-image {
  max-height:292px;
  overflow:hidden;
}

.overview h3 {
    font-weight: 300;
    margin-top: 15px;
    margin: 10px 0 0 0;
    font-size: 22px;
}

.overview h4 {
    font-weight: bold!important;
    font-size: 28px;
    margin-top: 0;
}

.view {
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}

.view p {
    margin-top: 20px;
    margin-bottom: 0;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background: rgba(70, 216, 210, 0.44);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.caption a {
    padding-right: 10px;
    color: #fff;
}

.info {
    display: block;
    padding: 10px;
    background: #eee;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}

.info p, .stats p {
    margin-bottom: 0;
}

.stats {
    display: block;
    padding: 10px;
    color: white;
}

.share-links {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}
.user-menu-container {
  margin-bottom: 20px;
}
/*.square, .btn {
    border-radius: 0px!important;
}*/
.col-md-7 .row {
  padding-left: 0px;
  padding-right: 0px;
}
h4.white {
  font-weight: 300;
  font-size: 15px;
}
h3.bloc {
  border-left: 3px solid #fff;
    padding-left: 12px;
    word-break: break-all;
}
.styled-select img{
  display: none;
}