{% extends "postman/base.html" %}
{% load i18n static %}
{% block extrahead %}{{ block.super }}
{% if autocompleter_app.is_active %}{# using the available admin jQuery is enough #}
{# should not be necessary since AS v1.3 with AJAX_SELECT_BOOTSTRAP set #}
{#<script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>#}
{% endif %}
{{ form.media }}{# for ajax_selects (v1.3.6 at least) #}
{% endblock %}
{% block content %}
<div id="postman">
<h1>Write Message</h1>
<form action="{% if next_url %}?next={{ next_url|urlencode }}{% endif %}" method="post">{% csrf_token %}
<table>
{% block pm_write_recipient %}{% endblock %}
<div class="input-group">
        <span class="input-group-addon">Recipient</span>
        {{ form.recipients }}
        
</div>
{% for error in form.recipients.errors %}
     		<div class="alert alert-warning alert-dismissable">
     	{{error}}
    	</div>
    	{% endfor %}
<div class="input-group">
        <span class="input-group-addon">Subject</span>
        {{ form.subject }}
        
</div>
{% for error in form.subject.errors %}
     <div class="alert alert-warning alert-dismissable">
     {{error}}
    </div>
    {% endfor %}
{{ form.body }}
{% for error in form.body.errors %}
     <div class="alert alert-warning alert-dismissable">
     {{error}}
    </div>
    {% endfor %}</table>
<button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
</form>
</div>
{% endblock %}